body {
    margin-top: 64px;
    font-family: 'ArcadeClassic', sans-serif;
    text-align: center;
    color: lime;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid {
    width: 360px;
    height: 720px;
    background-color: inherit;
    display: flex;
    flex-wrap: wrap;
    border-width: 4px;
    border-style: solid;
    border-color: lime;
}

#grid div {
    height: 32px;
    width: 32px;
    background-color: inherit;
    border-style: inherit;
    border-width: 2px;
    border-color: lime;
}

#grid .block {
    height: 30px;
    width: 30px;
    background-color: lime;
    border-style: inherit;
    border-width: 3px;
    border-color: black;
}

#grid .placed {
    height: 32px;
    width: 32px;
    background-color: lime;
    border-style: inherit;
    border-width: 2px;
    border-color: lime;
}

#grid .destenation {
    height: 36px;
    width: 36px;
    background-color: inherit;
    border: 0;
}

header {
    font-size: 32px;
    margin-bottom: 16px;
}